/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    margin: 0; 
    background-color: #ebe9e5;
}

/* Main */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Container */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Logo */
.logo {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #295950;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Dog-image */
.dog-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 40px;
}

/* Quiz-explanation*/
#quiz-explanation {
    margin: 20px 0;
    text-align: left;
}

#quiz-explanation h2 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

#quiz-explanation p {
    font-size: 16px;
    margin-bottom: 10px;
}

#quiz-explanation ul {
    list-style-type: disc;
    padding-left: 20px;
}

#quiz-explanation li {
    margin-bottom: 5px;
}

/* Quiz-container */
#quiz-container {
    background-color: rgb(239, 230, 219);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    background-color: #a9e3d5;
    border: 2px solid #0d0d0d;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

/* Restart-button */
#restart-button {
    background-color: #a9e3d5;
    border: 2px solid #0d0d0d;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 8px;
}

/* Controls */
#controls {
    margin-top: 20px;
}

/* Timer */
#timer {
    font-size: 20px;
    font-weight: bold;
}

/* Score */
#score {
    margin-top: 20px;
    font-size: 18px;
}

/* Footer */
footer {
    background-color: #ebe9e5;
    padding: 20px;
    text-align: center;
}